# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
venv/
env/
ENV/
.venv/

# ===========================
# Environment Variables
# ===========================
.env
.env.*
*.env

# ===========================
# Django
# ===========================
*.log
db.sqlite3
media/
staticfiles/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Mac / Windows
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Migrations (optional - usually keep them)
# ===========================
# */migrations/*
# !*/migrations/__init__.py